@import 'base/fuentes';
@import 'base/colores';
/* RESETEO POR DEFAULT */
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../multimedia/waveline.svg);
    background-size: 100%;
}
@import 'components/header';
@import 'base/titulos';
@import 'base/parrafos';
@import 'components/historia';
@import 'components/faq';
@import 'components/turnos';
@import 'components/contacto';
@import 'components/trabajos';
@import 'components/footer';
@import 'components/404page';
@import 'base/mediaQueries';
@import 'base/animacionesTransformaciones';